body{
  width: 100%;
	 margin: 0;
	 font-size: 18px;
   position: relative;


}


.Log {
  float: right;
  margin-left: 1350px;
  border-radius: 25%;
  width: 70px;
  height: 30px;
}
h1 {
  margin-top: 5px;
  font-family: 'Roboto';
  font-size:34px;
  width: 250px;
  padding-top: 15px;
  padding-bottom: 70px; 
  height: 35px;
  padding-left: 60px;
  margin-bottom: 20px;
  position: fixed;
padding-bottom:20px; 
float:left;
  
}


form {
  list-style-type: none;
 margin-top: 20px;
 padding-top:30px; 
  margin: 0;
  height: 80%;
  padding-left: 0;
  margin-left: 0;
  padding-top: 50px;
  width: 25%;
  position: fixed;
  display: block;
  font-family: 'Roboto';
  float: left;
  font-size: 30;
  overflow: none;
  list-style-position:none;
  float:left;
}
form p.filter{
  margin-top: 10px;
  display: block;
  font-family: 'Roboto';
  font-size:28px;
  width: 250px;
  padding-top: 15px;
  height: 35px;
  padding-left: 120px;

  
}
form label{
  padding-top:10px; 
  display: block;
  font-size: 25px;
  color: #000;
  padding-left:30px;
  text-decoration: none;
  width: 240px;
  text-align: center;
  
   font-family: 'Roboto';
}
form input{
  width: 240px;
  height: 30px;
  margin-left: 30px;
  padding-left: 10px;
  padding-bottom: 7px;
  border:2px solid black;
  font-size: 25px;
  color: grey;
  font-family: 'Roboto';
}
form button{
  display: block;
  
  border: 2px solid black;
  color: black;
 margin-top: 10px;
 margin-left: 60px;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
 padding-bottom: 10px
  height: 10px;
   width: 200px; 
}
form button:active {
background-color: white;

  transform: translateY(4px);
  
}
form button p{
  font-size: 20px;
  color: #000;
  font-family: 'Roboto';
}

 

div.whatst  {
  margin-left: 420px;
   height: 160px;
   width: 950px;
   border:2px solid black;
   float: left;

}
div.whatst input.wha {
  margin-top: 50px;
  border:none;
  font-weight: normal;
  margin-left: 120px;
  margin-right: 0;
  font-family: 'Roboto';
   font-size: 22px;
   color: grey;
   margin-bottom: 0px;
}
div.whatst  button.add {
  display: inline-block;
  float: right;
  border: 2px solid black;
  color: black;
 margin-top: 100px;
 margin-right: 30px;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
 
  height: 50px;
   width: 70px; 
}
div.whatst  button.add p {
  display: inline-block;
  margin-top: 1px;
    
  float: left;

}
div.whatst  button.plus {
  display: inline-block;
  float: right;
  border: 2px solid black;
  color: black;
 padding-bottom: 15px;
 margin-right: 10px;
 margin-top: 105px;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  border-radius: 48%;
  height: 50px;
   width: 50px; 
}
div.whatst  button.plus p {
  display: inline-block;
  margin-top: 1px;
     margin-bottom: 5px;
  

}

div.whatst button:active {
background-color: white;

  transform: translateY(4px);
  
}
div.content {
 
float: left;
 margin-left: 420px;
 position: relative;
 margin-top: 25px;
   
 
  width: 1000px;
  overflow: auto;
  list-style-position:outside;
}
div.content  div.post{
  width: 950px;
  height: 200px;
  border:2px solid black;
  float: left;
 }
 div.content  div.post button.Edit{
display: inline-block;
  float: right;
  border: none;
  background-color: white;
  text-decoration:underline; 
  color: blue;
 padding-bottom: 25px;
 margin-right: 27px;
margin-bottom: 70px;
margin-top: 10px;
  text-align: center;
  font-size: 20px;
  height: 50px;
   width: 50px; 
}
 div.content  div.post button.Edit:active{
  display: none;
  visibility: hidden;
  }

div.content  div.post h3{
  margin-top: 30px;
  width: 800px;
  margin-left: 120px;
  margin-right: 40px;
 display: block;
  font-size: 18px;
  font-family: 'Roboto';

 }
 
 div.content  div.post p{
  display: block;
  width: 800px;
  margin-left: 120px;
  height: 80px;
  font-size: 12px;
  font-family: 'Roboto';
  
 }
 div.content  div.post p.tags{
  font-size: 18px;
  width: 300px;
  margin-left: 50px;
 height: 20px;
  font-family: 'Roboto';
  color: blue;
  
 }
  div.content  div.post button.like{
  font-size: 18px;
  width: 70px;
  height: 30px;
 float: right;
 margin-right: 20px;
 position: relative;
  font-family: 'Roboto';
  color: blue;
  
 }
 div.content button.plus {
  display: inline-block;
  float: right;
  border: 2px solid black;
  color: black;
 padding-bottom: 15px;
 margin-top: 10px;
 margin-right: 48%;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  border-radius: 48%;
  height: 50px;
  position: relative;
   width: 50px; 
    cursor: pointer;
}
div.content  button.plus p {
  display: inline-block;
  margin-top: 1px;
     margin-bottom: 5px;
  

}

div.content button.plus:active {
background-color: white;

  transform: translateY(4px);
  
}

 footer{
   width: 100%;
   height: 150px;
   margin: 0;
   padding-left: 40px;
   padding-top: 15px;
   font-size: 18px;
   display: block;
   float:left;
   border-top:2px solid black;
}
footer p{ 
  width: 800px;
  height: 150px;
  color: grey;
  font-size: 12px;
  font-family: 'Roboto';
 }






@media screen and (max-width: 900px) {
  h1{
    margin-top: 0px;
    padding-top: 0px;
  font-family: 'Roboto';
  font-size:15px;
  width: 120px;
  padding-top: 15px;
  padding-bottom: 5px; 
  height: 25px;
  margin-left: 70px;
  position: fixed;
  padding-left: 40px;
float:left;

  }

 form{
     margin-top: 20px;
 padding-top:15px; 
  margin: 0;
  height: 80%;
  padding-left: 0;
  margin-left: 0;
  padding-top: 5px;
  margin-right: 10px;
  width: 110px;
  font-family: 'Roboto';
  float: left;
  overflow: none;
  position: fixed;
  list-style-position:none;
  float:left;
  }

form p.filter{
  margin-top: 10px;
  font-family: 'Roboto';
  font-size:20px;
  float: left;
  width: 50px;
  padding-top: 15px;
  height: 15px;
  padding-left: 20px;
  display: none;

  
}
form label{
  
  font-size: 15px;
  color: #000;
  display: inline;
 
  padding-left:10px;
  text-decoration: none;
  width: 30px;
  text-align: center;
  display: inline-block;
   font-family: 'Roboto';
}
form input{
  display: inline-block;
  width: 70px;
  height: 15px;
  margin-left: 7px;
  padding-left: 10px;

  border:2px solid black;
  font-size: 15px;
  color: grey;
  font-family: 'Roboto';
}

form button{
  
  border: 2px solid black;
  color: black;
 margin-left: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
 padding-top: 0px;
 padding-left: 0;
  height: 30px;
   width: 70px; 
}
form button p{
  margin-top: 4px;
  padding-top: 0;
  font-size: 15px;
  color: #000;
  font-family: 'Roboto';
}


  div.whatst  {
  margin-left: 100px;
  margin-top: 40px;
  position: fixed;
   height: 80px;
   width: 78%;
   border:2px solid black;
   float: left;

}
input.Data2{
  margin-top: 5px;
}
div.whatst input.wha {
  margin-top: 20px;
  font-weight: normal;
  margin-left: 40px;
  margin-right: 0;
  font-family: 'Roboto';
   font-size: 17px;
   color: grey;
   margin-bottom: 0px;
}

div.whatst  button.add {
  display: inline-block;
  float: right;
  border: 2px solid black;
  color: black;
 margin-top: 45px;
 margin-right: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
 height: 30px;
   width: 50px; 
}
div.whatst  button.add p {
  display: inline-block;
  margin-top: 1px;
    

}
div.whatst  button.plus {
  display: inline-block;
  float: right;
  border: 2px solid black;
  color: black;
 padding-bottom: 3px;
 padding-top: 0px;
 margin-right: 10px;
 margin-top: 50px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  border-radius: 48%;
  height: 25px;
   width: 25px; 
}
div.whatst  button.plus p {
  display: inline-block;
  margin-top: 1px;
  

}


div.content {
 position: absolute;
 margin-top: 130px;
   margin-left: 100px;
   height: 200px;
   width: 78%;
   border:2px solid black;
   float: left;
   overflow: auto;
  list-style-position:outside;
}
div.content  div.post{
  width: 100%;
  float: right;
  height: 150px;
  border:2px solid black;
 }
 
div.content  div.post h3{
  margin-top:7px;
  width: 100%;
  margin-left: 30px;
  margin-right: 6px;
 display: block;
  font-size: 17px;
  font-family: 'Roboto';

 }
 div.content  div.post p{
  display: block;
  width: 80%;
  margin-left: 30px;
  height: 60px;
  font-size: 15px;
  font-family: 'Roboto';
  
 }
 div.content  div.post p.tags{
  font-size: 16px;
  width: 150px;
  margin-left: 20px;
 height: 10px;
  font-family: 'Roboto';
  color: blue;
  
 }
  div.content  div.post button.Edit{
display: block;
  float: right;
  border: none;
  background-color: white;
  text-decoration:underline; 
  color: blue;
 padding-bottom: 25px;
 margin-right: 17px;
margin-bottom: 50px;
margin-top: 10px;
  text-align: center;
  font-size: 20px;
  height: 30px;
   width: 50px; 
}
 div.content  div.post ul{
  display: none;
 }
 div.content  div.post button.Edit:active{
  display: none;
  visibility: hidden;
  }

  div.content  div.post button.like{
  font-size: 18px;
  width: 70px;
  height: 30px;
 float: right;
 padding-bottom: 5px;
 margin-right: 10px;
 display: block;
 margin-bottom: 10px;
 position: relative;
  font-family: 'Roboto';
  color: blue;
  
 }
 div.content button.plus {
  display: inline-block;
  float: left;
  border: 2px solid black;
  color: black;
 padding-bottom: 3px;
 padding-top: 0px;
 margin-left: 45%;
 margin-top: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  border-radius: 48%;
  height: 25px;
   width: 25px; 
}
div.content  button.plus p {
  display: inline-block;
  margin-top: 1px;
     margin-bottom: 5px;
  

}

div.content  div.post ul{
  width: 65px;
  display: block;
    margin: 0;
  padding: 0;
  float: right;
  margin-left: 85%;
  margin-right: 30px;
 margin-top: 20px;

 height:  50px;
 margin-top: 0px;
 margin-bottom: 40px 
  font-size: 18px;
  list-style-type: none;
  font-family: 'Roboto';
background-color: white;

 }
div.content  div.post ul li button{
  text-decoration: none;
  list-style-type: none;
  padding-top: 7px;
  display: block;
  border: 2px solid black;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
 padding-bottom: 10px;
  height: 30px;
   width: 65px; 

}
 footer{
  display: none;
   width: 100%;
   height: 150px;
   margin: 0;
   padding-left: 40px;
   padding-top: 15px;
   font-size: 18px;
   display: block;
   float:left;
   border-top:2px solid black;
}
footer p{ 
  width: 800px;
display: none;


}